<style>
@media(min-width:768px) {
    body {
        margin-left: 225px;
    }
}

</style>

<ul class="nav navbar-nav side-nav">
    <li id="welcome">Welcome,</li>
    <li id="name">{{user.name}}!</li>
    <li>
        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Class 1</a>
    </li>
    <li>
        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Class 2</a>
    </li>
    <li>
        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Class 3</a>
    </li>
    <li>
        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Class 4</a>
    </li>
</ul>

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <b>{{myclass.name}}</b>
                </h1>
                <h4><b>Teacher:</b> {{myclass.teacher}}</h4>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                {{#each myclass.lecture}}
                    <ul>{{this}}</ul>
                {{/each}}
            </div>
    </div>
    <!-- /.container-fluid -->

</div>
