<!-- <link rel="stylesheet" type="text/less" href="stylesheets/login.css" media="screen" /> -->
<div class="container page-header">
    <div class="col col-4 col-stack">

        {{> alerts}}

        <h1>MAIN PAGE!</h1>
    </div>
</div>