<div class="form-signin panel panel-default clearfix signin-panel" style="width:800px; height:500px;">
  <form id="QandA" method="post" action="/teacherInput">
         <h1 align="center">Enter a Question</h1>
         <h3>
           <div align="center">Question: </div><div align="center"><input name="q" id="question" type="text" style="width:750px; height:50px;"><br></div>
          <div align="center">
          A: <input name="a" id="choice-a" type="text"><br>
  B: <input name="b" id="choice-b" type="text"><br>
  C: <input name="c" id="choice-c" type="text"><br>
  D: <input name="d" id="choice-d" type="text"><br>
          E: <input name="e" id="choice-e" type="text"><br>
  <br>
  <input type="submit" value="Submit">
         </div>
         </h3>
  </form>
</div>