<div id="mychart" class="form-signin panel panel-default clearfix signin-panel" style="width:650px;height:450px;"></div>

{{> teachersidebar}}

<script type="text/javascript">
	function barchart(divid) {
	    var x = ['Bears', 'Lions', 'Tigers', 'Giraffes', 'Zebras'],
	        y = [1000, 800, 600, 400, 100];

	    Plotly.plot(divid, [{
	        x: x,
	        y: y,
	        type: 'bar'
	    }], {
	    	width: 600,
	    	height: 400
	    });
	}

	var mychart = document.getElementById("mychart");

	barchart(mychart);
	
</script>