<div id="mychart" class="form-signin panel panel-default clearfix signin-panel" style="width:650px;height:450px;"></div>
<input id="yVal" type="text" value="{{yVal}}">
{{> teachersidebar}}

<script type="text/javascript">
	function barchart(divid, yVals) {
	    var x = ['A', 'B', 'C', 'D', 'E'],
	        y = yVals;

	    Plotly.plot(divid, [{
	        x: x,
	        y: y,
	        type: 'bar'
	    }], {
	    	width: 600,
	    	height: 400
	    });
	}

	var mychart = document.getElementById("mychart");

	var yvals = JSON.parse(document.getElementById("yVal").value);

	console.log(yvals)
	barchart(mychart, yvals);
	
</script>