<head>
	<style>
		h1 {
			text-align: center;
		}

		form {
			font-size: 20px;
			text-align: center;
			}
	</style>
</head>

{{> alerts}}

<div class="form-signin panel panel-default clearfix signin-panel">
	<h1>Student Input:</h1>

	<form id="studentInput" method="post" action="/studentInput">
		<input name="choice" id="A" type="radio" value="A">
		<b>A</b>
		<br>
		<input name="choice" id="B" type="radio" value="B">
		<b>B</b>
		<br>
		<input name="choice" id="C" type="radio" value="C">
		<b>C</b>
		<br>
		<input name="choice" id="D" type="radio" value="D">
		<b>D</b>
		<br>
		<input name="choice" id="E" type="radio" value="E">
		<b>E</b>
		<br>

		<p></p>
		<input type="submit" value="Submit">
		
	</form>
</div>

