<head>
	<style>
		h1 {
			text-align: center;
		}

		form {
			font-size: 20px;
			text-align: center;
			}
	</style>
</head>

{{> studentsidebar}}

<div class="form-signin panel panel-default clearfix signin-panel">
	<h1>Student Input:</h1>

	<form id="studentInput" method="post" action="/studentInput">
		<input name="choice" id="a" type="radio" value="a">
		<b>A</b>
		<br>
		<input name="choice" id="b" type="radio" value="b">
		<b>B</b>
		<br>
		<input name="choice" id="c" type="radio" value="c">
		<b>C</b>
		<br>
		<input name="choice" id="d" type="radio" value="d">
		<b>D</b>
		<br>
		<input name="choice" id="e" type="radio" value="e">
		<b>E</b>
		<br>

		<input name="urlquery" id="q" style="visibility: hidden" value="{{query}}"> 
		<p></p>

		<input type="submit" value="Submit">

	</form>
</div>

