<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>
	
<script>

</script>

<div>

		<input type="radio" value="A">
		A<br/>
		<input type="radio" value="B">
		B<br/>
		<input type="radio" value="C">
		C<br/>
		<input type="radio" value="D">
		D<br/>
		<input type="radio" value="E">
		E<br/>
	<tt>answer = {{student.answer}}</tt><br/>

</div>	