<body
<form id="studentInput" method="post" action="/studentInput">
	<input name="choice" id="A" type="radio" value="A">
	A<br>
	<input name="choice" id="B" type="radio" value="B">
	B<br>
	<input name="choice" id="C" type="radio" value="C">
	C<br>
	<input name="choice" id="D" type="radio" value="D">
	D<br>
	<input name="choice" id="E" type="radio" value="E">
	E<br>

	<input type="submit" value="Submit">
</form>