<style>
@media(min-width:768px) {
    body {
        margin-left: 225px;
    }
}


</style>

<ul id="classlist" class="nav navbar-nav side-nav">
    <li id="welcome">Welcome,</li>
    <li id="name">{{user.name}}!</li>
    {{#each classes}}
    <li><a href="index.html"><i class="fa fa-fw fa-dashboard"></i> {{this.name}}</a></li>
    {{/each}}
</ul>

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Forms
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form id="form-createclass" action="/teacher-classcreate" method="post">

                    <div class="form-group">
                        <label class="pull-left">Create a new class</label>
                        <div id="submit">
                            <input type="submit" class="btn pull-right btn-default" id="btn-login" value="Submit">
                        </div>
                        <input class="form-control" placeholder="Enter class name">
                    </div>


                </form>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>