<head>
   <script></script>
</head>
   
<script>

</script>

Enter a Question: <input type="text"><br>
Choice A: <input type="text"><br>
Choice B: <input type="text"><br>
Choice C: <input type="text"><br>
Choice D: <input type="text"><br>
Choice E: <input type="text"><br>
<br>
<input type="submit" value="Submit">

</div>   

<script>

</script>
