<style>
@media(min-width:768px) {
    body {
        margin-left: 225px;
    }
}


</style>

{{> teachersidebar}}

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Forms
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form id="form-createclass" action="/teacher-classcreate" method="post">

                    <div class="form-group">
                        <label class="pull-left">Create a new class</label>
                        <div id="submit">
                            <input type="submit" class="btn pull-right btn-default" id="btn-login" value="Create">
                        </div>
                        <input name="className" class="form-control" placeholder="Enter class name">

                        <label style="padding-top: 20px">Add student to a class</label>
                        <div id="submit">
                            <input type="submit" class="btn pull-right btn-default" id="btn-login" value="Add">
                        </div>
                        <input name="studentName" class="form-control" placeholder="Student Name">
                        <input name="classAdd" class="form-control" placeholder="Class">

                    </div>


                </form>

                <h1 class="page-header">
                    <b>{{myclass.name}}</b>
                </h1>

            </div>
        </div>
        <!-- /.row -->

    <div id="acdnmenu">
        <ul>
            {{#each myclass.lectures}}
                <li><b>Lecture {{addone @index}}</b>
                    <ul style="background:transparent url(2.jpg); padding-bottom: 10px">
                    {{#each this.questions}}
                        <li><a href="">{{this.question}}</a></li>
                    {{/each}}
                    <input type="submit" class="btn btn-default" id="btn-login" value="Create">
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>

    </div>
    <!-- /.container-fluid -->

</div>