<form id="QandA" method="post" action="/teacherInput">
Enter a Question: <input name="q" id="question" type="text"><br>
Choice A: <input name="a" id="choice-a" type="text"><br>
Choice B: <input name="b" id="choice-b" type="text"><br>
Choice C: <input name="c" id="choice-c" type="text"><br>
Choice D: <input name="d" id="choice-d" type="text"><br>
Choice E: <input name="e" id="choice-e" type="text"><br>
<br>
<input type="submit" value="Submit">
</form>