* Oh Snap */

#ohsnap {
    position: fixed;
    bottom: 20px;
    right:5px;
    margin-left: 5px;
    z-index:1099;
    max-width:50%;
}

.alert {
    text-align: left;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    float: right;
    clear: right;
}

.alert-red {
    color: white;
    background-color: #DA4453;
}
.alert-green {
    color: white;
    /* background-color: #37BC9B; */
    background-color: rgba(118, 175, 87, .6) /* #76af57; */
}
.alert-blue {
    color: white;
    background-color: #4A89DC;
}
.alert-yellow {
    color: white;
    background-color: #F6BB42;
}
.alert-orange {
    color:white;
    background-color: #E9573F;
}

.buttons {
    margin-bottom: 20px;
    display: block;
}

.buttons a {
    margin:auto;
    margin-bottom:10px;
    float: none !important;
    text-align: center;

}

.buttons a span {
    padding-left: 0px;
}

#ohsnap { text-shadow: none; }
@media (max-width: 450px) {
    .buttons {
        margin-bottom: 334px;
    }
}